.home-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #ffffff;
  min-height: 100vh;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  border-color: #131212;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/dr%20gobbels-1500w.jpg");
}

.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.home-container2 {
  left: -241px;
  width: 488px;
  bottom: -294px;
  height: 100px;
  display: flex;
  opacity: 0.9;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #363636;
}
.home-textarea {
  width: 100%;
  z-index: 100;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  text-align: left;
  background-color: var(--dl-color-gray-900);
}
.home-button {
  width: 100%;
  height: 35px;
  text-align: center;
  text-transform: capitalize;
  background-color: var(--dl-color-gray-900);
}
.home-form {
  width: 391px;
  position: relative;
}
.home-text3 {
  top: 12px;
  left: 542px;
  color: rgb(243, 236, 236);
  width: 512px;
  height: 44px;
  position: absolute;
  line-height: 1.2;
  text-transform: capitalize;
}
